@import url(https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Condensed);

h2 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
   background-color:  #00c853;
}

.parallax-container {
      height: 400px;
    }

.brand-logo {
    margin-left: 20px;
}

.contact {
    padding-bottom: 10px;
}

.page-footer {
    background-color: #00c853;
}

.logo {
 height: 70px;
}

